 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles


@mixin border {
  border: 1px solid red;
}

.header-image{
  width:900px;
  position:absolute;
}



header {
  @include outer-container;
  height: 500px;
  #headcontainer {
    @include span-columns(10);
    @include shift(1);
    height: 400px;
    @include border;
    #logocontainer {
      height: 75px;
      width: 200px;
      @include border;
      position:relative;
    }
    #socialcontainer {
      height: 75px;
      width: 200px;
      @include border;
      float: right;
    }
  }
}
#main{
  @include outer-container;
  height: 500px;
  #maincontainer {
    @include span-columns(10);
    @include shift(1);
    height: 875px; 
    @include border;
    #middlecontainer {
      margin-top: 20px;
      @include outer-container;
      height: 300px; 
      @include border;
      #news {
        @include span-columns(3.33 of 10);
        height: 300px;
        @include border;
      }
      #specials {
        @include span-columns(3.33 of 10);
        height: 300px;
        @include border;
      }
      #location {
        @include span-columns(3.33 of 10);
        height: 300px;
        text-align: center;
        padding-top: 10px;
        @include border;
        // &:hover {
        //   color:transparent;
        //   a:link {
        //         color:transparent;
        //       }
        // }
        #map_canvas:hover + #locationInfo {
          color:transparent;
          a:link {
            color:transparent;
          }
          }
        #map_canvas {
            // width: 500px;
            height: 40%;
            width: 85%;
            margin: 0 auto;
            margin-top: 50px;
            // padding-top: 10px;
            border-top: 1px grey solid;
            // background-color: #CCC;
            // opacity:15%;
            &:hover {
              width:101%;
              height:105%;
              margin-top: -30px;

            }
          }
      }
    }
    #bottomcontainer {
      @include outer-container;
      margin-top: 50px;
      @include border;
      #menu {
        @include span-columns(7 of 10);
        @include border;
        height: 500px;
      }
      #flickr {
        @include span-columns(3 of 10);
        @include border;
        height: 500px;
      }
    }
  }
}
footer {
  @include outer-container;
  #footercontainer {
    @include span-columns(10);
    @include shift(1);
    @include border; 
    height: 80px; 
  }
}
