 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  height:960px;
  width:500px;
  
}


.food {
  color: blue;
  border:solid green 3px;
}

p#boxprops {
  color:green;
}

.item {
  color:red;
}


#box2 {
  width: 300px;
  height: auto;
  border: 1px solid blue;
}

#box3 {
  width: 300px;
  height: auto;
  border: 1px solid purple;
}